# Игнорировать все __pycache__
__pycache__/

# Игнорировать все .pyc, .pyo, .pyd файлы
*.pyc
*.pyo
*.pyd

# Игнорировать все файлы .log
*.log

# Игнорировать папку .idea
.idea/

# Игнорировать файлы .env
.env

# Игнорировать все файлы .sqlite (если вы используете SQLite)
*.sqlite

# Игнорировать все media файлы
media/