html {
    scroll-behavior: smooth;
}

img {
    user-select: none;
    display: block;
}

::selection {
    background: #1e1e1e;
    color: #fdbf2d;
}

::-moz-selection {
    background: #1e1e1e;
    color: #fdbf2d;
}


body {
    background-color: #272727;
    font-family: "Nunito", sans-serif;
    color: #fdbf2d;
}

body::-webkit-scrollbar {
    width: 0;
}

.fixing-paddings {
    box-sizing: content-box;
    padding: 5px 15px;
}


header {
    background-color: #303030;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    max-width: 1560px;
    margin: 15px auto;
}

.left-group,
.right-group {
    display: flex;
    align-items: center;
}

.left-group img,
.right-group img {
    height: 24px;
    margin: 0 10px;
}

.left-group {
    padding-left: 20px;
}

.right-group {
    padding-right: 20px;
}

.left-group input {
    border: 1px solid #ccc;
    padding: 5px 10px;
    height: 24px;
    border-radius: 15px;
    margin-left: 10px;
    width: 206px;
    font-size: 15px;
}

.left-group form {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.circled-icon {
    border-radius: 50%;
}

.border-icon {
    padding: 3px;
    border: 2px solid #fdbf2d;
}

.left-group input[type="text"] {
    padding-left: 18px;
    color: #c9c9c9;
    font-family: "Nunito", sans-serif;
    border-radius: 15px;
    background-color: #525252;
    border: none;
}


.left-group input:focus {
    outline: 1px solid #696969;
}


input::placeholder {
    color: #c9c9c9;
}

/*Тест*/

/* Стили для всплывающей подсказки */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    border-radius: 6px;

    /* Позиционирование текста подсказки */
    position: absolute;
    z-index: 1;
    top: 140%;
    left: 50%;
    margin-left: -75px;

    /* Анимация появления */
    opacity: 0;
    transition: opacity 0.3s;
}


header .tooltip .tooltiptext {
    top: 210%;
    font-weight: normal;
}


.tooltip:hover .tooltiptext {
    opacity: 1;
    transition-delay: 1s;
}

.hoverable:hover {
    background-color: #3d3d3d;
    border-radius: 15px;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}

.note-title {
    font-size: 17px;
}

.ordinary-button {
    padding: 8px 26px;
    font-size: 20px;
    border-radius: 10px;
    font-family: Nunito, sans-serif;
    background-color: #3a3a3a;
    color: #fdbf2d;
    font-weight: bold;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid #272727;
}

.ordinary-button:hover {
    cursor: pointer;
    border: 1px solid #fdbf2d;
}

.ordinary-button a {
    color: inherit;
    text-decoration: none;
}

.create-category-button {
    position: static;
    padding: 10px 15px;
    transform: none;
    font-size: 16px;
    border: 1px solid #fdbf2d;
    background-color: #3f3f3f;
    border-radius: 15px;
    width: 200px;
    color: #d2d2ca;
    text-align: left;
}

.submit-button-margin {
    margin-top: 25px;
}


input[type="file"]::-webkit-file-upload-button {
    background-color: #3f3f3f;
    height: 40px;
    border-radius: 15px;
    font-size: 15px;
    font-family: Nunito, sans-serif;
    border: 1px solid #fdbf2d;
    color: #d2d2ca;
    padding: 0 15px;
    font-weight: bold;
    margin-right: 15px;
}


.ordinary-header {
    color: #fdbf2d;
    font-size: 26px;
    text-align: center;
    padding-top: 40px;
}

select {
    width: 200px;
    height: 40px;
    font-size: 16px;
    border-radius: 15px;
    font-weight: bold;
    appearance: none;
    color: #d2d2ca;
    padding: 5px 15px;
    font-family: Nunito, sans-serif;
    background-color: #3f3f3f;
    border: 1px solid #fdbf2d;
}

select option {
    background-color: #3a3a3a;
}

select:focus {
    outline: none;
}

label {
    display: block;
    font-size: 20px;
    margin-left: 5px;
}

hr {
    border: none;
    border-bottom: 1px solid #525252;
    margin-bottom: 55px;
}


.errorlist {
    max-width: 558px;
    font-size: 18px;
    color: #e63946;
    list-style-type: none;
    margin-bottom: 15px;
    font-weight: bold;
}

.note-panel {
    position: sticky;
    top: 10px;
    z-index: 20;
    border-radius: 15px;
    background-color: #303030;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s linear;
    opacity: 0;
}

.note-panel a {
    padding: 10px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: background-color 0.2s ease, outline 0.2s ease-in-out;
}

.note-panel span {
    pointer-events: none;
}

.note-panel a:first-child {
    border-radius: 10px 0 0 10px;
}

.note-panel a:last-child {
    border-radius: 0 10px 10px 0;
}

.note-panel a:hover {
    background-color: #3a3a3a;
    outline: 1px solid #fdbf2d;
}

/* Стили для модального окна */
.modal {
    display: none; /* Скрыть модальное окно по умолчанию */
    position: fixed; /* Оставаться на месте при прокрутке */
    z-index: 21; /* Сидеть над всеми другими элементами */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    background-color: rgba(0, 0, 0, 0.6); /* Черный с небольшой прозрачностью */
}

/* Стили для содержимого модального окна */
.modal-content {
    background-color: #303030;
    padding: 40px;
    border-radius: 15px;
    margin: 0; /* Убрать внешний отступ */
    /* Центрирование содержимого */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%; /* Ширина модального окна */
    height: auto; /* Высота по содержимому */
}

.modal-content p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.buttons-container {
    margin: 0 auto;
    width: fit-content;
}

.buttons-container button {
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 26px;
    font-family: inherit;
    color: #fdbf2d;
    background-color: #3a3a3a;
    border: 1px solid #303030;
}

.buttons-container button:hover {
    border: 1px solid #fdbf2d;
    cursor: pointer;
}

.close {
    font-size: 26px;
    cursor: pointer;
    float: right;
}
