
img {
    user-select: none;
    display: block;
}

::selection {
    background: #272727;
    color: #fdbf2d;
}

::-moz-selection {
    background: #272727;
    color: #fdbf2d;
}


body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #272727;
}

body::-webkit-scrollbar-thumb {
    background-color: #525252;
    border-radius: 20px;
    border: 3px solid #303030;
}

.fixing-paddings {
    box-sizing: content-box;
    padding: 5px 15px;
}

body {
    background-color: #272727;
    font-family: "Nunito", sans-serif;
    color: #fdbf2d;
}


header {
    background-color: #303030;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    max-width: 1560px;
    margin: 15px auto;
}

.left-group,
.right-group {
    display: flex;
    align-items: center;
}

.left-group img,
.right-group img {
    height: 24px;
    margin: 0 10px;
}

.left-group {
    padding-left: 20px;
}

.right-group {
    padding-right: 20px;
}

.left-group input {
    border: 1px solid #ccc;
    padding: 5px 10px;
    height: 24px;
    border-radius: 15px;
    margin-left: 10px;
    width: 206px;
    font-size: 15px;
}

.left-group form {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.circled-icon {
    border-radius: 50%;
}

.border-icon {
    padding: 3px;
    border: 2px solid #fdbf2d;
}

.left-group input[type="text"] {
    padding-left: 18px;
    color: #c9c9c9;
    font-family: "Nunito", sans-serif;
    border-radius: 15px;
    background-color: #525252;
    border: none;
}


.left-group input:focus {
    outline: 1px solid #696969;
}


input::placeholder {
    color: #c9c9c9;
}

/*Тест*/

/* Стили для всплывающей подсказки */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    border-radius: 6px;

    /* Позиционирование текста подсказки */
    position: absolute;
    z-index: 1;
    top: 140%;
    left: 50%;
    margin-left: -75px;

    /* Анимация появления */
    opacity: 0;
    transition: opacity 0.3s;
}


header .tooltip .tooltiptext {
    top: 210%;
}


.tooltip:hover .tooltiptext {
    opacity: 1;
    transition-delay: 1s;
}

.hoverable:hover {
    background-color: #3d3d3d;
    border-radius: 15px;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}

.note-title {
    font-size: 17px;
}

.ordinary-button {
    padding: 8px 26px;
    font-size: 20px;
    border-radius: 10px;
    font-family: Nunito, sans-serif;
    background-color: #3a3a3a;
    color: #fdbf2d;
    font-weight: bold;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid #272727;
}

.ordinary-button:hover {
    cursor: pointer;
    border: 1px solid #fdbf2d;
}

.ordinary-button a {
    color: inherit;
    text-decoration: none;
}

.submit-button-margin {
    margin-top: 25px;
}
