
.categories-container {
    margin: 70px 100px;

}

.category-container {
    display: inline-block;
    margin: 10px 50px 10px 0;
    color: white;
}

.category-title-container h3 {
    margin: 0;
}

.category-title-container a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

.category-title-container a::after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    border-bottom: 2px solid white;
    transition: left 0.3s ease, right 0.3s ease;
}

.category-title-container a:hover::after {
    left: 0;
    right: 0;
}

.category-title-container {
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.category-button-container {
    max-width: 66px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}