
.guide-container {
    font-family: "Jetbrains Mono", monospace;
    border-radius: 15px;
    max-width: 1000px;
    box-sizing: border-box;
    background-color: #303030;
    margin: 30px auto;
    padding: 30px;
}

.guide-background-img {
    margin: 0 auto;
    border-radius: 15px;
    width: 1000px;
    box-shadow: 0 0 20px #262626;
}

.guide-header {
    text-align: center;

}

.guide-description {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fcfcee;
    text-align: center;
}

.md {
    color: #fdbf2d;
    font-size: 17px;
    font-weight: bold;
}

.examples-container {
    border-radius: 15px;
    background-color: #303030;
    margin: 30px auto;
    max-width: 1000px;
    box-sizing: border-box;
    padding: 30px 50px;
    color: #fcfcee;
    font-family: "Jetbrains Mono", monospace;
}


.examples-container h2 {
    text-align: center;
    margin: 0;
}

.example-container h3 {
    color: #fdbf2d;
    font-size: 22px;
    margin-bottom: 0;
}

.example-container code {
    background-color: #272727;
    font-family: "Jetbrains Mono", monospace;
    margin: 0;
    border-radius: 10px;
    max-width: 900px;
    font-size: 14px;
    position: relative;
}

.example-container code::-webkit-scrollbar {
    width: 5px;
}

.example-container code::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 5px;
}

.example-container code::-webkit-scrollbar-thumb {
    background: #494949;
    border-radius: 0 0 5px 5px;
}

.example-container pre {
    margin: 0 0 17px;
}

.example-container img {
    max-width: 900px;
    margin: 0 auto;
}


.quote {
    padding: 15px;
    border-left: 3px solid #fdbf2d;
    background-color: #3a3a3a;
}

.quote span {
    font-weight: bold;
    color: #fdbf2d;
    font-size: 17px;
}

.p-with-icon-container {
    display: flex;
}

.icon-container {
    max-width: 70px;
    flex: 1;
    display: flex;
    align-items: center; /* Центрирует иконку по вертикали */
}

.p-with-icon {
    flex: 3;
}


.important-text {
    font-weight: bold;
    color: #fdbf2d;
}


div.p-with-icon h2 {
    color: #fcfcee;
}

div.p-with-icon ul {
    padding-left: 0;
    list-style-position: inside;
}

div.p-with-icon li {
    font-size: 18px;
    list-style-image: url("");
}

div.p-with-icon li > a {
    color: #fdbf2d;
    text-decoration: none;
}

div.p-with-icon li > a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}