.notes-container {
    max-width: 1560px;
    min-height: 80vh;
    border-radius: 15px;
    margin: 50px auto;
    background-color: #303030;
    /* margin-top: 50px; */

}

.notes-header {
    color: #fdbf2d;
    font-size: 26px;
    text-align: center;
    padding-top: 40px;
}

.notes-table {
    padding: 30px 100px;
    border-spacing: 0 15px;
    width: 100%;
}

.img-in-table {
    height: 66px;
    width: 66px;
    border-radius: 50%;
    margin: 0 auto;
}

td {
    text-align: center;
    color: #fcfcee;
    padding: 15px 0;
}

th {
    padding: 20px 0;
    border-bottom: 1px solid #fdbf2d;
}

td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*.hoverable:hover {*/
/*    background-color: #494949;*/
/*    border-radius: 15px;*/
/*    transition: background-color 0.5s ease-in-out;*/
/*    cursor: pointer;*/
/*}*/

td > a {
    color: #fcfcee;
    text-decoration: none;
}


.notes-by-category-name {
    color: #fcfcee;
}

.note-category-label {
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
