
.note-block {
    background-color: #303030;
    max-width: 1560px;
    margin: 30px auto 40px;
    border-radius: 15px;
    padding-bottom: 10px;
}

.note-content {
    /*background-color: #3a3a3a;*/
    color: #d7d7d7;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.note-info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px;
    position: relative;
}

.note-icon {
    height: 250px;
    width: 250px;
}

.note-image {
    height: 250px;
    width: fit-content;
}

.note-title h2,
p {
    margin: 0;
}

.note-description {
    padding-top: 30px;
    font-size: 17px;
    color: #d7d7d7;
}

.note-info {
    max-width: 500px;
    padding: 50px 0 0 50px;
}

.note-text {
    width: 100%;
    resize: none;
    min-height: 150px; /* Adjust this value as needed */
    background-color: #3a3a3a;
    height: auto;
    color: #d7d7d7;
    padding: 0;
    border: none;
    outline: none;
    overflow-y: hidden;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
    /* TODO: Придумать плавную анимацию изменения высоты */
}

.note-text[tabindex]:focus {
    outline: none;
}

.note-text[tabindex]:active {
    outline: 0;
}

.note-text:focus {
    outline: none;
    border: none;
}

.note-text:focus-visible {
    outline: none;
    border: none;
}

.note-text:active {
    outline: none;
    border: none;

}



button a {
    color: inherit;
    text-decoration: none;
}

.note-block > form > button[type=submit] {
    display: none;
}


.category {
    margin-top: 20px;
    display: inline-block;
    /*padding: 20px 10px;*/
    padding: 5px 10px;
    border-radius: 5px;
}

.category h2 {
    margin: 0;
    color: white;
    font-size: 16px;
}


.note-block form {
    outline: none;
}

.note-block form:focus {
    outline: none;
}

.author-and-date-container {
    position: absolute;
    top: 100px;
    right: 50px;
    font-weight: bold;
}

.white-span {
    color: #d7d7d7;
}


/*.CodeMirror {*/
/*    background-color: #424242; !* Ваш цвет фона *!*/
/*    color: #fcfcee;*/

/*}*/

@media (max-width: 1180px) {
    .note-info-container {
        flex-direction: column;
        align-items: center;
    }

    .note-image {
        order: 1;
    }

    .note-info {
        order: 2;
        text-align: center;
        padding: 20px;
        max-width: 100%;
    }

    .author-and-date-container {
        margin-top: 20px;
        order: 3;
        position: initial;
        text-align: center;
    }
}
