
.profile-container {
    max-width: 800px;
    margin: 70px auto 0;
}

.change-info-container {
    display: flex;
    flex-direction: row;
}

.profile-photo-container {
    flex: 1;
}

.profile-photo {
    border-radius: 50%;
    width: 250px;
    margin: auto;
}

.change-buttons-container {
    flex: 1;
    margin-left: -40px;
}

.profile-name {
    margin-top: 30px;
    margin-bottom: 25px;
}

.change-buttons-container button {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 8px 26px;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bold;
    color: #fdbf2d;
    background-color: #323232;
    border: 1px solid #272727;
}

.change-buttons-container img {
    display: inline-block;
    vertical-align: middle;
}

.change-buttons-container a {
    color: inherit;
    text-decoration: none;
}

.change-buttons-container button:hover {
    border: 1px solid #fdbf2d;
}

.profile-name {
    font-size: 32px;
    color: #d2d2ca;
}

.profile-info-container {
    background-color: #323232;
    border-radius: 15px;
}

label {
    display: block;
    font-size: 22px;
    margin-left: 5px;
    font-weight: bold;
}

.input-group > input {
    height: 20px;
    width: 522px;
}

.form-container {
    box-sizing: border-box;
    margin: 35px auto;
    max-width: 642px;
}


.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
    font-style: normal;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 20px;
    font-family: Nunito, sans-serif;
    background-color: #3f3f3f;
    border: 1px solid #fdbf2d;
    color: #d2d2ca;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="email"]:focus {
    outline: none;
    border: 1px solid #fdbf2d;
    transform: none;
}

.form-fields {
    border-radius: 15px;
    background-color: #323232;
    padding: 30px 60px;
    width: 522px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group:last-child {
    margin-bottom: 0;
}

.activities-container {
    background-color: #323232;
    max-width: 642px;
    margin: 35px auto;
    padding: 10px 0;
    border-radius: 15px;
}

.activity-header {
    font-size: 22px;
    text-align: center;
}

.week-activities {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.day-name {
    text-align: center;
    font-size: 15px;
    margin-bottom: 5px;
    color: #d2d2ca;
}

.activity .square {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.activity .square.marked {
    /*outline: 1px solid #fdbf2d;*/
    /*outline-offset: -1px;*/
    background-color: #424242;
}

.day-container:last-child .square:last-child {
    outline: 1px solid #fdbf2d;
    outline-offset: -1px;
}

.activity .square.unmarked {
    background-color: #424242;
}

/* Убираем отступ справа у последнего контейнера дня */
.week-activities .day-container:last-child {
    margin-right: 0;
}


/* Make profile container responsive */
@media (max-width: 800px) {
    .profile-container {
        max-width: 100%; /* Set to 100% for full width on small screens */
        margin: 0 auto; /* Center horizontally on small screens */
    }
}

/* Center profile photo and flex buttons vertically on small screens */
@media (max-width: 800px) {
    .change-info-container {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center elements horizontally */
    }

    .profile-photo-container {
        margin-bottom: 20px; /* Add space between photo and buttons */
    }

    .change-buttons-container {
        text-align: center;
        margin: 0;
    }

    .change-buttons-container button {
        margin: 0 auto 25px;
    }
}
