
.note-content {
    font-family: "Jetbrains Mono", monospace;
}


.note-content h1,
.note-content h2,
.note-content h3,
.note-content h4,
.note-content h5,
.note-content h6 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.note-content h1 {
    margin-top: 0;
}

.note-content ol,
.note-content ul {
    padding-left: 10px;
    margin: 0;
    list-style-position: inside;
}

.note-content pre {
    margin: 0 0 15px;
}

.note-content a {
    color: #fdbf2d;
    width: fit-content;
}

.note-content p {
    width: fit-content;
}

.note-content a:visited {
    color: #fdbf2d;
}

.note-content blockquote {
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 10px;
    border-left: 3px solid #fdbf2d;
    background-color: #343434;
}

.note-content code {
    margin: 10px 0;
    border-radius: 10px;
    max-width: 800px;
    font-size: 14px;
    position: relative;
}

.note-content > p > code {
    border-radius: 5px;
    background-color: #323232;
    padding: 5px 7px;
    color: #fdbf2d;
    font-weight: bold;
    font-family: "JetBrains Mono Medium", monospace;
    letter-spacing: 0.03em;
}

.note-content code::-webkit-scrollbar {
    width: 5px;
}

.note-content code::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 5px;
}

.note-content code::-webkit-scrollbar-thumb {
    background: #494949;
    border-radius: 0 0 5px 5px;
}

.note-content strong, .note-content em {
    color: #fdbf2d;
}

.note-content input[type="checkbox"]:checked:before {
    content: "";
    background-color: #ff0000; /* Замените на желаемый цвет */
}

.note-content img {
    max-width: 800px;
    margin-bottom: 15px;
}

.copy-button {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 3px;
    font-family: "Jetbrains Mono", monospace;
    border-radius: 5px;
    border: none;
    color: #fdbf2d;
    background-color: #3f3f3f;
}

.copy-button img {
    margin-bottom: 0;
}

.hljs {
    background-color: #323232;
    font-family: "Jetbrains Mono", monospace;
}
