
.note-content {
    font-family: "Jetbrains Mono", monospace;
    background-color: #303030;
    max-width: 1560px;
    margin: 30px auto;
    box-sizing: border-box;
    padding: 35px;
}


.note-content h1,
.note-content h2,
.note-content h3,
.note-content h4,
.note-content h5,
.note-content h6 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.note-content h1 {
    margin-top: 0;
}

.note-content ol,
.note-content ul {
    padding-left: 10px;
    margin: 0;
    list-style-position: inside;
}

.note-content pre {
    margin: 0 0 5px;
}

.note-content a {
    color: #fdbf2d;
    width: fit-content;
}

.note-content p {
    width: fit-content;
}

.note-content a:visited {
    color: #fdbf2d;
}

.note-content blockquote {
    display: inline-block;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-left: 3px solid #fdbf2d;
    background-color: #3f3f3f;
}

.note-content pre code {
    margin: 10px 0;
    border-radius: 10px;
    max-width: 800px;
    font-size: 14px;
    position: relative;
}

.note-content p > code,
.note-content li > code,
.note-content h1 > code,
.note-content h2 > code,
.note-content h3 > code,
.note-content h4 > code,
.note-content h5 > code,
.note-content h6 > code,
.note-content th > code,
.note-content td > code,
.note-content blockquote > code,
.note-content td > code,
.note-content dd > code {
    border-radius: 3px;
    padding: 1px 5px;
    outline: 1px solid #fdbf2d;
    outline-offset: -2px;
    color: #fdbf2d;
    font-size: inherit;
    font-family: "JetBrains Mono Medium", monospace;
    letter-spacing: 0.03em;
}

.note-content code::-webkit-scrollbar {
    width: 12px;
}

.note-content code::-webkit-scrollbar-track {
    background: #343434;
    border-radius: 0 0 5px 5px;
}

.note-content code::-webkit-scrollbar-thumb {
    background: #494949;
    border-radius: 0 0 5px 5px;
}

.note-content strong, .note-content em {
    color: #fdbf2d;
}

.note-content input[type="checkbox"]:checked:before {
    content: "";
    background-color: #ff0000; /* Замените на желаемый цвет */
}

.note-content img {
    max-width: 800px;
    margin-bottom: 15px;
}

.note-content abbr {
    text-decoration-thickness: 2px;
    text-decoration-style: wavy;
    text-decoration-color: #fdbf2d;
    cursor: pointer;
}


.note-content dl {
    max-width: 800px;
    width: fit-content;
    box-sizing: border-box;
    border-left: 5px solid #646464;
    background-color: #383838;
    margin: 10px 0;
    padding: 10px;
}

.note-content dt {
    font-weight: bold;
    padding-left: 7px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    color: #fdbf2d;
    margin-bottom: 10px;
}

.note-content dd {
    margin-left: 7px;
}


.note-content table,
.note-content th,
.note-content td {
    border: 1px solid #fdbf2d;
    border-collapse: collapse;
    padding: 10px;
    color: #d7d7d7;
}

.note-content table {
    margin: 10px 0;
}

.note-content th {
    background-color: #424242;
}


.note-content u {
    text-underline-offset: 3px;
    text-decoration-color: #fdbf2d;
    text-decoration-thickness: 2px;
}

.note-content del {
    text-decoration-color: #fdbf2d;
    text-decoration-thickness: 2px;
}


.admonition {
    padding: 5px 10px;
    margin: 10px 0;
    border-left: 5px solid #6b6b6b;
    background-color: #383838;
    width: fit-content;
}

.admonition-title {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.admonition > p {
    margin-top: 5px;
}

.admonition i {
    vertical-align: bottom;
    margin-right: 5px;
}

.admonition-title {
    text-decoration-color: #6b6b6b;
}

.admonition > span {
    font-weight: bold;
}

.admonition.attention {
    border-left: 5px solid #ff9900; /* Orange border */
}

.admonition.attention > span {
    color: #ff9900;
}

.admonition.attention > span + .admonition-title {
    text-decoration-color: #ff9900;
}

.admonition.danger {
    border-left: 5px solid #ff3535; /* Dark red border */
}

.admonition.danger > span {
    color: #ff3535;
}

.admonition.danger > span + .admonition-title {
    text-decoration-color: #ff3535;
}

.admonition.important {
    border-left: 5px solid #e358ff; /* Gray border */
}

.admonition.important > span {
    color: #e358ff;
}

.admonition.important > span + .admonition-title {
    text-decoration-color: #e358ff;
}

.admonition.note {
    border-left: 5px solid #596aff; /* Gray border */
}

.admonition.note > span {
    color: #596aff;
}

.admonition.note > span + .admonition-title {
    text-decoration-color: #596aff;
}

.admonition.tip {
    border-left: 5px solid #2c961f; /* Голубая рамка */
}

.admonition.tip > span {
    color: #2c961f;
}

.admonition.tip > span + .admonition-title {
    text-decoration-color: #2c961f;
}

.copy-button {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 3px;
    font-family: "Jetbrains Mono", monospace;
    border-radius: 5px;
    border: none;
    color: #fdbf2d;
    background: transparent;
}

.note-content hr {
    max-width: 800px;
    margin: 15px 0 15px;
    border: none;
    border-bottom: 1px solid #fdbf2d;
}

.copy-button img {
    margin-bottom: 0;
}

.hljs {
    background-color: #383838;
    font-family: "Jetbrains Mono", monospace;
}
