{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'noteapp/svg/title.svg' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="{% static 'noteapp/css/base.css' %}">

    <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
          rel="stylesheet">

    {% block css %}
    {% endblock %}
</head>
<body>

<!-- шапка -->
<header>
    <div class="left-group">
        <a href="{% url 'notes' %}" class="tooltip">
            <img src="{% static 'noteapp/svg/notes.svg' %}" alt="Заметки"/>
            <span class="tooltiptext">Ваши заметки</span>
        </a>
        <a href="{% url 'categories' %}" class="tooltip">
            <img src="{% static 'noteapp/svg/categories.svg' %}" alt="Категории"/>
            <span class="tooltiptext">Ваши категории</span>
        </a>
        <a href="{% url 'create_screen' %}" class="tooltip">
            <img src="{% static 'noteapp/svg/add.svg' %}" alt="Создать заметку"/>
            <span class="tooltiptext">Создать</span>
        </a>

        <form action="{% url 'note_search' %}" method="post">
            {% csrf_token %}
            <input class="fixing-paddings" type="text" name="search" placeholder="Поиск по заметкам..."/>
        </form>
    </div>
    <div class="right-group">
        <a href="{% url 'help' %}" class="tooltip">
            <img src="{% static 'noteapp/svg/question_mark.svg' %}" alt="Настройки">
            <span class="tooltiptext">Справка по написанию</span>
        </a>
        <a href="#" class="tooltip">
            <img src="{% static 'noteapp/svg/coffee.svg' %}" alt="Настройки">
            <span class="tooltiptext">Пожертвовать на кофе</span>
        </a>

        <a href="{% url 'settings' %}" class="tooltip">
            <img src="{% static 'noteapp/svg/settings.svg' %}" alt="Настройки">
            <span class="tooltiptext">Настройки</span>
        </a>
        <a href="{% url 'profile' %}" class="tooltip">
            <img
                    class="circled-icon border-icon"
                    src="
                            {% if request.user.profile.avatar %}{{ request.user.profile.avatar.url }}{% else %}{% static 'noteapp/default/default-profile-avatar.jpg' %}{% endif %}"
                    alt="Профиль пользователя"
            />
            <span class="tooltiptext">Ваш профиль</span>
        </a>

        <!-- Иконка для выйти -->
        <a href="{% url 'logout' %}" class="tooltip">
            <img src="{% static 'noteapp/svg/quit.svg' %}" alt="Выйти"/>
            <span class="tooltiptext">Выйти из аккаунта</span>
        </a>

    </div>
</header>


{% block content %}
{% endblock %}

</body>
</html>