{% extends 'base.html' %}
{% load static %}

{% block css %}
<title>Ваши категории</title>
<link rel="stylesheet" href="{% static 'noteapp/css/note.css' %}"/>
<link rel="stylesheet" href="{% static 'noteapp/css/notes.css' %}"/>
<link rel="stylesheet" href="{% static 'noteapp/css/categories.css' %}"/>

{% endblock %}

{% block content %}
<!-- контейнер с заметками -->
<div class="notes-container">
    <h1 class="notes-header">Ваши категории</h1>

    <div class="categories-container">
        {% for category in categories %}
        <div class="category-container">
            <div class="category-title-container" style="background-color: {{ category.color }}; ">
                <h3><a href="{% url 'notes_by_category' category.pk %}">{{ category.name }}</a></h3>
            </div>
            <div class="category-button-container">
                <a href="{{ category.get_absolute_url }}">
                    <img src="{% static 'noteapp/svg/edit.svg' %}" alt="">
                </a>
                <a href="{% url 'delete_category' category.pk %}">
                    <img src="{% static 'noteapp/svg/delete.svg' %}" alt="">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}