{% extends 'base.html' %}
{% load static %}

{% block css %}
<title>Создать</title>
<link rel="stylesheet" href="{% static 'noteapp/css/note.css' %}"/>
<link rel="stylesheet" href="{% static 'noteapp/css/create_screen.css' %}"/>

{% endblock %}

{% block content %}
<div class="create-block-container">
    <div class="create-block left"><a href="{% url 'create_category' %}">Создать категорию</a></div>
    <div class="create-block right"><a href="{% url 'create_note' %}">Создать заметку</a></div>
</div>

<!--для перенаправления -->
<script src="{% static 'noteapp/js/redirect_create_screen.js' %}"></script>

{% endblock %}
