{% extends 'base.html' %}
{% load static %}

{% block css %}
    <title>Помощь</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/a11y-dark.css"
    />
    <link rel="stylesheet" href="{% static 'noteapp/css/help.css' %}"/>
    <link rel="stylesheet" href="{% static 'noteapp/css/view_mode_note.css' %}"/>

    <style>
        .note-panel {
            position: sticky;
            top: 10px;
        }

        .note-panel a:first-child {
            border-radius: 10px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="note-panel">
        <a class="tooltip" onclick="topFunction()">
            <img src="{% static 'noteapp/svg/up.svg' %}" alt="">
            <span class="tooltiptext">Подняться наверх</span>
        </a>
    </div>

    <img class="guide-background-img" src="{% static 'noteapp/img/poster_background.png' %}" alt="Фон">

    <div class="content-block">
        <h2>Содержание</h2>
        <ul>
            <li><a href="#headers">Заголовки</a></li>
            <li><a href="#paragraphs">Параграфы</a></li>
            <li><a href="#escape">Экранирование</a></li>
            <li><a href="#selections">Выделения текста</a></li>
            <li><a href="#quotes">Цитаты</a></li>
            <li><a href="#ol">Нумерованные списки</a></li>
            <li><a href="#ul">Маркированные списки</a></li>
            <li><a href="#links">Ссылки</a></li>
            <li><a href="#code">Код</a></li>
            <li><a href="#images">Изображения</a></li>
            <li><a href="#tables">Таблицы</a></li>
            <li><a href="#abbr">Аббревиатуры</a></li>
            <li><a href="#admonitions">Замечания</a></li>
            <li><a href="#deflist">Списки определений</a></li>
            <li><a href="#toolbar">Панель редактора</a></li>

        </ul>
    </div>

    <div class="examples-container">
        <h2>Перед началом</h2>
        <div class="p-with-icon-container">
            <div class="icon-container">
                <img src="{% static 'noteapp/svg/warning.svg' %}" alt="">
            </div>
            <p class="p-with-icon">Этот проект применяет мощь <span class="md">Markdown</span>, преобразуя обычный текст
                в структурированный HTML. В следующих разделах вы узнаете, что такое <span class="md">Markdown</span> и
                как эффективно использовать
                его в рамках этого проекта. Рассматривайте эту страницу как ваше персональное руководство по навигации
                по проекту.
                <br><br>
                <span class="important-text">ВАЖНО, НЕКОТОРЫЕ СПОСОБЫ РЕНДЕРИНГА ТОГО ИЛИ ИНОГО ЭЛЕМЕНТА ЗАВИСЯТ ОТ ТИПА ИСПОЛЬЗУЕМОГО РЕДАКТОРА.
                    ИМЕЙТЕ ЭТО ВВИДУ.</span>
            </p>
        </div>
    </div>


    <div class="examples-container">
        <h2>Что такое Markdown?</h2>
        <p class="quote"><span>Markdown</span> – это легкий язык разметки, созданный с целью облегчения добавления
            форматирования к тексту в интернете.
            Он позволяет вам преобразовывать текст в HTML или XHTML и многие другие форматы.
            <br><br>
            Основная идея <span>Markdown</span> – сделать текст читаемым и легко редактируемым, независимо от того,
            преобразован он в
            другой формат или нет. Это достигается за счет использования простого и интуитивно понятного синтаксиса.
            <br> <br>
            <span>Markdown</span> широко используется для создания документации, написания сообщений на форумах,
            создания
            контента для
            сайтов и многое другое. Он поддерживается многими платформами публикации контента, такими как GitHub,
            GitLab,
            Bitbucket, Jekyll, и многими другими.
            <br> <br>
            <span>Markdown</span> поддерживает различные элементы форматирования, такие как заголовки, ссылки, списки,
            выделение текста,
            и многое другое.</p>
    </div>

    <div class="examples-container">
        <h2>Примеры использования Markdown</h2>
        <div class="example-container">
            <h3 id="headers">Заголовки</h3>
            <p>В Markdown заголовки создаются с помощью символа решетки #. Количество решеток перед заголовком
                определяет
                его уровень. Вот примеры:</p>
            <pre><code class="language-markdown"># Заголовок 1
## Заголовок 2
### Заголовок 3
#### Заголовок 4
##### Заголовок 5
###### Заголовок 6</code></pre>
            <img src="{% static 'noteapp/img/headers-example.png' %}" alt="">
        </div>
        <div class="example-container">
            <h3 id="paragraphs">Параграфы</h3>
            <p>В Markdown параграфы создаются с помощью одного или более последовательных строк текста, разделенных
                одной
                или более пустыми строками. Вот пример:</p>
            <pre><code class="language-markdown">Это первый параграф.

Это второй параграф.</code></pre>
            <img src="{% static 'noteapp/img/p-example.png' %}" alt="">

            <h3 id="escape">Экранирование</h3>
            <p>Экранирование символов в Markdown — это способ указать, что определенные символы следует
                интерпретировать буквально, а не как часть синтаксиса Markdown. Это полезно, когда вам нужно отобразить
                символы, которые обычно используются для форматирования текста, например * или _, без применения их
                форматирующего эффекта.</p>
            <p>Чтобы экранировать символ, вы ставите перед ним обратную косую черту (\). Вот примеры:</p>
            <pre><code class="language-markdown">\\   обратная косая черта
\`   обратный апостроф
\*   звездочка
\_   нижнее подчеркивание
\{   фигурная скобка открывающая
\}   фигурная скобка закрывающая
\[   квадратная скобка открывающая
\]   квадратная скобка закрывающая
\(   круглая скобка открывающая
\)   круглая скобка закрывающая
\#   решетка
\+   плюс
\-   минус (или дефис)
\.   точка
\!   восклицательный знак
</code></pre>
            <img src="{% static 'noteapp/img/escape-example.png' %}" alt="">

            <h3 id="selections">Выделения текста</h3>
            <p>В Markdown отдельные части текста можно выделять разные способами. Например, жирным, курсивом,
                моноширинным, зачеркнутым или подчеркнутым и т.д.</p>
            <p>Для выделения курсивом используются, либо одна звездочка "*", либо одно подчеркивание "_". Вот как это
                выглядит:</p>
            <pre><code class="language-markdown">*Курсив*
_Курсив_</code></pre>
            <img src="{% static 'noteapp/img/cursive-example.png' %}" alt="">

            <p>Для выделения жирным используются, либо две звездочки "**", либо два подчеркивания "__". Вот как это
                выглядит:</p>
            <pre><code class="language-markdown">**Жирный текст**
__Жирный текст__</code></pre>
            <img src="{% static 'noteapp/img/bold-example.png' %}" alt="">

            <p>Для выделения жирным курсивом используются, либо три звездочки "***", либо три подчеркивания "__". Вот
                как это выглядит:</p>
            <pre><code class="language-markdown">***Жирный курсив***
___Жирный курсив___</code></pre>
            <img src="{% static 'noteapp/img/bold-cursive-example.png' %}" alt="">

            <p>Для выделения моноширинным текстом используются обратные апострофы "`". Вот как это выглядит:</p>
            <pre><code class="language-markdown">`Моноширинный текст`</code></pre>
            <img src="{% static 'noteapp/img/monospace-example.png' %}" alt="">

            <p>Для выделения зачеркнутого текста не существует специального символа. Однако, можно воспользоваться HTML
                тэгом &lt;del&gt;. Вот как это выглядит:</p>
            <pre><code class="language-markdown">&lt;del&gt;Привет мир!&lt;/del&gt;</code></pre>
            <img src="{% static 'noteapp/img/del-example.png' %}" alt="">

            <p>Для выделения подчеркнутого текста не существует специального символа. Однако, можно воспользоваться HTML
                тэгом &lt;u&gt;. Вот как это выглядит:</p>
            <pre><code class="language-markdown">&lt;u&gt;100 рублей!&lt;/u&gt;</code></pre>
            <img src="{% static 'noteapp/img/u-example.png' %}" alt="">

            <h3 id="quotes">Цитаты</h3>
            <p>В Markdown цитаты создаются с помощью символа > перед текстом. Имеется возможность использовать вложенные
                цитаты, комбинируя символы >. Вот пример:</p>
            <pre><code class="language-markdown">> # Заголовок
> Первый параграф
>
> Второй параграф
>
> > Вложенная цитата
> > > Цитата третьего уровня
>
> Продолжение основной цитаты</code></pre>
            <img src="{% static 'noteapp/img/quote-example.png' %}" alt="">

            <h3 id="ol">Нумерованные списки</h3>
            <p>В Markdown нумерованные списки создаются с помощью чисел, за которыми следует точка. Вот пример:</p>
            <pre><code>1. Один
2. Два
3. Три</code></pre>
            <img src="{% static 'noteapp/img/ol-example.png' %}" alt="">

            <h3 id="ul">Маркированные списки</h3>
            <p>В Markdown маркированные списки создаются с помощью символа звездочки "*". Вот пример:</p>
            <pre><code class="language-markdown">* Первый пункт
* Второй пункт
* Третий пункт</code></pre>
            <img src="{% static 'noteapp/img/ul-example.png' %}" alt="">

            <h3 id="links">Ссылки</h3>
            <p>Ссылки в Markdown имеют несколько видов: встроенные, с всплывающей подсказкой, автоматические ссылки
                url.</p>
            <p>Встроенные ссылки состоят из [...] - текст ссылки, и (...) - url ссылки. Вот пример:</p>
            <pre><code class="language-markdown">[Google](https://google.com/)</code></pre>
            <img src="{% static 'noteapp/img/link-example1.png' %}" alt="">
            <p>Ссылки с всплывающей подсказкой похожи на встроенные ссылки. Чтобы указать текст подсказки, необходимо
                написать его в кавычках после url ссылки. Вот пример:</p>
            <pre><code class="language-markdown">[Google](https://google.com/ "Ссылка на Google")</code></pre>
            <img src="{% static 'noteapp/img/link-example2.png' %}" alt="">
            <p>Ну и наконец автоматические ссылки url, которые выглядят как обычный url адрес. Достаточно окружить
                ссылку
                треугольными скобками <>. Вот пример:</p>
            <pre><code class="language-markdown">&lt;https://google.com/&gt;</code></pre>
            <img src="{% static 'noteapp/img/link-example3.png' %}" alt="">

            <h3 id="code">Код</h3>
            <p>В Markdown код помещается между тройными обратными кавычками ```. После открывающих кавычек можно указать
                язык программирования для активации подсветки синтаксиса. И, конечно, не забудьте добавить закрывающие
                кавычки ```. Вот как это выглядит на практике:</p>
            <pre><code class="language-markdown">```python
def hello_world():
    print("Hello, world!")
```</code></pre>
            <img src="{% static 'noteapp/img/code-example.png' %}" alt="">

            <h3 id="images">Изображения</h3>
            <p>Изображения в Markdown оформляются по принципу, схожему с принципом оформления ссылок, только перед
                квадратными скобками нужно поставить восклицательный знак. Также можно
                сделать всплывающую подсказку.</p>
            <p>Вы можете разместить URL-адрес изображения в другом месте документа, присвоив ему номер для ссылки. Вот
                пример:</p>
            <pre><code class="language-markdown">![Фоточка](https://avatars.mds.yandex.net/i?id=32fb1c6fcc34819b36ef9e3b0d96fa01_l-9867831-images-thumbs&n=13 "Логотип Markdown")

![Фоточка][1]

[1]: https://avatars.mds.yandex.net/i?id=32fb1c6fcc34819b36ef9e3b0d96fa01_l-9867831-images-thumbs&n=13 "Логотип Markdown"</code></pre>
            <img src="{% static 'noteapp/img/img-example.png' %}" alt="">

            <h3 id="tables">Таблицы</h3>
            <p>В Markdown таблицы можно создавать с помощью вертикальных черт (|) и дефисов (-). Вот несколько
                примеров:</p>
            <pre><code class="language-markdown">| Заголовок 1 | Заголовок 2 |
|-------------|-------------|
| Строка 1    | Строка 2    |
| Строка 3    | Строка 4    |
</code></pre>
            <img src="{% static 'noteapp/img/table-example1.png' %}" alt="">
            <p>Для выравнивания текста в столбцах используйте двоеточия:</p>
            <ol>
                <li>:--- для выравнивания по левому краю.</li>
                <li>:---: для центрирования.</li>
                <li>---: для выравнивания по правому краю.</li>
            </ol>

            <pre><code class="language-markdown">| Заголовок 1 | Заголовок 2 |
|:------------|:-----------:|
| Строка 1    | Строка 2    |
| Строка 3    | Строка 4    |
</code></pre>
            <img src="{% static 'noteapp/img/table-example2.png' %}" alt="">
            <p>Также, необязательно делать таблицы красивыми, вот пример, который отлично работает и преобразуется в
                таблицу:</p>
            <pre><code class="language-markdown">| Заголовок 1 | Заголовок 2 |
|:---|:---:|
| Строка 1 | Строка 2 |
| Строка 3 | Строка 4 |</code></pre>

            <h3 id="abbr">Аббревиатуры</h3>
            <p>Аббревиатуры можно создать с помощью *[text]: Вот пример:</p>
            <pre><code class="language-markdown">The HTML specification is maintained by the W3C.

*[HTML]: Hyper Text Markup Language
*[W3C]:  World Wide Web Consortium</code></pre>
            <img src="{% static 'noteapp/img/abbr-example.png' %}" alt="">
            <p>При наведении появится подсказка с текстом, идущим после двоеточия.</p>

            <h3 id="admonitions">Замечания</h3>
            <p>Замечания создаются с помощью трех знаков восклицания, после которых идет тип замечания. Всего имеется 5
                видов замечаний:
                note, tip, danger, important, attention. Вот примеры:</p>
            <pre><code class="language-markdown">!!! note ""
    Таким образом выглядит примечание

!!! tip ""
    Таким образом выглядит совет

!!! danger ""
    Таким образом выглядит что-то опасное

!!! important ""
    Таким образом выглядит что-то важное

!!! attention ""
    Таким образом выглядит внимание</code></pre>
            <img src="{% static 'noteapp/img/admonition-example1.png' %}" alt="">
            <p>Текст внутри кавычек это заголовок замечания. Является необязательным элементом. Вот как выглядит
                замечание с заголовком:</p>
            <pre><code class="language-markdown">!!! note "Заголовок замечания"
    Таким образом выглядит примечание</code></pre>
            <img src="{% static 'noteapp/img/admonition-example2.png' %}" alt="">
            <p>Если был написан не существующий тип замечания, то он отображается примерно так:</p>
            <pre><code class="language-markdown">!!! test "Заголовок замечания"
    Таким образом выглядит примечание</code></pre>
            <img src="{% static 'noteapp/img/admonition-example3.png' %}" alt="">

            <h3 id="deflist">Списки определений</h3>
            <p>Списки определений создаются с помощью текста и двоеточия. Вот пример:</p>
            <pre><code class="language-markdown">Django это:

Django
:    высокоуровневый Python веб-фреймворк, который позволяет быстро создавать безопасные и поддерживаемые веб-сайты.</code></pre>
            <img src="{% static 'noteapp/img/deflist-example.png' %}" alt="">

            <h3 id="toolbar">Панель редактора</h3>
            <p>Вы можете использовать панель редактора для быстрого создания заметок или конспектов. Она включает в себя
                большинство описанных выше функций, которые позволят вам вставлять готовые конструкции для
                форматирования текста.</p>
            <img src="{% static 'noteapp/img/toolbar-example.png' %}" alt="">


        </div>
    </div>

    <div class="examples-container">
        <h2>Заключение</h2>
        <div class="p-with-icon-container">
            <div class="icon-container">
                <img src="{% static 'noteapp/svg/smile.svg' %}" alt="">
            </div>
            <p class="p-with-icon">Мы рассмотрели основные возможности <span class="md">Markdown</span>, которые
                позволяют
                вам эффективно
                форматировать текст для веб-страниц и документов. Эти основные функции должны быть достаточны для
                большинства ваших потребностей в работе с <span class="md">Markdown</span>.
                <br><br>
                В будущем планируется добавить еще больше возможностей, чтобы сделать <span class="md">Markdown</span>
                еще
                более мощным и гибким
                инструментом для создания контента.
                <br><br>
                Желаем вам удачи в работе с <span class="md">Markdown</span>! Надеемся, что вы найдете его простым и
                удобным
                в использовании.</p>
        </div>
    </div>

    <!-- подсветка кода-->
    <script>
        hljs.highlightAll();
    </script>

    <!-- для скролла наверх -->
    <script src="{% static 'noteapp/js/scroll_to_top.js' %}"></script>

    <!-- для подсчета ширины и медленного появления note-panel -->
    <script src="{% static 'noteapp/js/show_note_panel.js' %}"></script>

{% endblock %}
