{% extends 'base.html' %}
{% load static %}

{% block css %}
<title>{{ note.title }}</title>
<link rel="stylesheet" href="{% static 'noteapp/css/note.css' %}"/>

{% include 'note_text_changer.html' %}

{% endblock %}

{% block content %}
<div class="note-panel">
    <a href="{% url 'note_view_mode' note.pk %}" class="tooltip">
        <img src="{% static 'noteapp/svg/view.svg' %}" alt="">
        <span class="tooltiptext">Перейти в режим обзора</span>
    </a>
    {% if request.user.profile == note.author %}
    <a href="{% url 'update_note' note.pk %}" class="tooltip">
        <img src="{% static 'noteapp/svg/note-properties.svg' %}" alt="">
        <span class="tooltiptext">Изменить данные заметки</span>
    </a>
    {% endif %}
    <a class="tooltip" onclick="copy_to_clipboard()">
        <img src="{% static 'noteapp/svg/copy.svg' %}" alt="">
        <span class="tooltiptext">Скопировать содержимое</span>
    </a>
    <a class="tooltip" onclick="scrollToTop()">
        <img src="{% static 'noteapp/svg/up.svg' %}" alt="">
        <span class="tooltiptext">Переместиться наверх</span>
    </a>
    <a class="tooltip" onclick="scrollToBottom()">
        <img src="{% static 'noteapp/svg/down.svg' %}" alt="">
        <span class="tooltiptext">Переместиться вниз</span>
    </a>
    <a href="{% url 'export_note' note.pk %}" class="tooltip">
        <img src="{% static 'noteapp/svg/md.svg' %}" alt="">
        <span class="tooltiptext">Экспортировать как .md файл</span>
    </a>

    {% if request.user.profile == note.author %}
    <a href="{% url 'delete_note' note.pk %}" class="tooltip">
        <img src="{% static 'noteapp/svg/delete.svg' %}" alt="">
        <span class="tooltiptext">Удалить заметку</span>
    </a>
    {% endif %}
    {% if request.user.profile == note.author %}
    <a href="" class="tooltip save-link">
        <img src="{% static 'noteapp/svg/save.svg' %}" alt="">
        <span class="tooltiptext">Сохранить изменения</span>
    </a>
    {% endif %}
</div>


<!-- заметка -->
<div class="note-block">
    <div class="note-info-container">
        <div class="note-image">
            <img
                    class="circled-icon note-icon"
                    src="{% if note.icon %}{{ note.icon.url }}{% else %}{% static 'noteapp/default/default-note-icon.png' %}{% endif %}"
                    alt="Заметка"
            />
        </div>

        <div class="note-info">
            <div class="note-title">
                <h2>{{ note.title }}</h2>
            </div>

            {% if note.description %}
            <div class="note-description">
                <p>{{ note.description }}</p>
            </div>
            {% endif %}

            <div class="category" style="background-color: {{ note.category.color }}">
                <h2>{{ note.category }}</h2>
            </div>
            <div class="author-and-date-container">
                <p>
                    {% if request.user.profile == note.author %}
                    <span class="white-span">Время изменения:</span>
                    {{ note.time_update|date:"H:i / d.m.Y" }}
                    <br>
                    {% endif %}
                    {% if request.user.profile != note.author %}
                    <span class="white-span">Автор:</span> {{ note.author }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <form method="post" tabindex="-1">
        {% csrf_token %}
        <div class="note-content">
            <div class="note-div" contenteditable>
                {{ form.content }}
            </div>
        </div>

        <!-- невидимая кнопка-->
        <button type="submit">Сохранить изменения</button>
    </form>
</div>

<!-- для нажатия невидимой кнопки сохранения через иконку save.svg -->
<script src="{% static 'noteapp/js/click_save_button.js' %}"></script>

<!-- для сохранения положения экрана на странице при добавлении контента в textarea -->
<script src="{% static 'noteapp/js/save_screen_position.js' %}"></script>

<!-- для вставки 4-х пробелов при нажатии tab -->
<script src="{% static 'noteapp/js/insert_four_spaces.js' %}"></script>

<!-- для копирования в буфер -->
<script src="{% static 'noteapp/js/copy_to_clipboard.js' %}"></script>

<!-- Отключение tabindex на всей странице -->
<script src="{% static 'noteapp/js/disable_tabindex.js' %}"></script>

<!-- для подсчета ширины и медленного появления note-panel -->
<script src="{% static 'noteapp/js/show_note_panel.js' %}"></script>

<!-- для скролла наверх и вниз -->
<script src="{% static 'noteapp/js/scroll_to_top.js' %}"></script>
<script src="{% static 'noteapp/js/scroll_to_down.js' %}"></script>

<!-- для сохранения заметки через shortcut -->
<script src="{% static 'noteapp/js/save_shortcut.js' %}"></script>

{% endblock %}
