{% extends 'base.html' %}
{% load static %}

{% block css %}
<title>Ваши заметки по категории &laquo;{{ category }}&raquo;</title>
<link rel="stylesheet" href="{% static 'noteapp/css/note.css' %}"/>
<link rel="stylesheet" href="{% static 'noteapp/css/notes.css' %}"/>
{% endblock %}

{% block content %}
<!-- контейнер с заметками -->
<div class="notes-container">
    <h1 class="ordinary-header">Ваши заметки по категории <span
            class="notes-by-category-name">&laquo;{{ category }}&raquo;</span>
    </h1>

    <table class="notes-table">
        <tr data-href="index.html" class="note-row header-row">
            <th>Аватар</th>
            <th>Название</th>
            <th>Категория</th>
            <th>Дата создания</th>
            <th>Дата изменения</th>
        </tr>
        {% for note in notes %}
        <tr class="note-row hoverable" data-url="{{ note.get_absolute_url }}">
            <td>
                <img class="img-in-table" src="{{ note.icon.url }}" alt=""/>
            </td>
            <td class="note-title">{{ note.title }}</td>
            <td><span class="note-category-label" style="background-color:{{ note.category.color }}">
                {{ note.category }}</span>
            </td>
            <td>{{ note.time_create|date:"d.m.Y" }}</td>
            <td>{{ note.time_update|date:"d.m.Y" }}</td>
        </tr>
        {% endfor %}
    </table>

    <script src="{% static 'noteapp/js/redirect_notes.js' %}"></script>

</div>
{% endblock %}

