{% extends 'base.html' %}
{% load static %}

{% block css %}
    <title>{{ note.title }}</title>
    <link rel="stylesheet" href="{% static 'noteapp/css/note.css' %}"/>

    {% include 'note_text_changer.html' %}

{% endblock %}

{% block content %}

    {% include 'note_panel.html' with mode="edit" %}

    <!-- заметка -->
    <div class="note-block">
        <div class="note-info-container">
            <div class="note-image">
                <img
                        class="circled-icon note-icon"
                        src="




                                {% if note.icon %}{{ note.icon.url }}{% else %}{% static 'noteapp/default/default-note-icon.png' %}{% endif %}"
                        alt="Заметка"
                />
            </div>

            <div class="note-info">
                <div class="note-title">
                    <h2>{{ note.title }}</h2>
                </div>

                {% if note.description %}
                    <div class="note-description">
                        <p>{{ note.description }}</p>
                    </div>
                {% endif %}

                <div class="category" style="background-color: {{ note.category.color }}">
                    <h2>{{ note.category }}</h2>
                </div>
                <div class="author-and-date-container">
                    <p>
                        {% if request.user.profile == note.author %}
                            <span class="white-span">Время изменения:</span>
                            {{ note.time_update|date:"H:i / d.m.Y" }}
                            <br>
                        {% endif %}
                        {% if request.user.profile != note.author %}
                            <span class="white-span">Автор:</span> {{ note.author }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <form method="post" tabindex="-1">
            {% csrf_token %}
            <div class="note-content">
                <div class="note-div" contenteditable>
                    {{ form.content }}
                </div>
            </div>

            <!-- невидимая кнопка-->
            <button type="submit">Сохранить изменения</button>
        </form>
    </div>

    <!-- Модальное окно для подтверждения удаления -->
    {% include 'modal_delete_note.html' %}

    <!-- для подтверждения удаления -->
    <script src="{% static 'noteapp/js/delete_confirmation.js' %}"></script>

    <!-- для нажатия невидимой кнопки сохранения через иконку save.svg -->
    <script src="{% static 'noteapp/js/click_save_button.js' %}"></script>

    <!-- для сохранения положения экрана на странице при добавлении контента в textarea -->
    <script src="{% static 'noteapp/js/save_screen_position.js' %}"></script>

    <!-- для вставки 4-х пробелов при нажатии tab -->
    <script src="{% static 'noteapp/js/insert_four_spaces.js' %}"></script>

    <!-- для копирования в буфер -->
    <script src="{% static 'noteapp/js/copy_to_clipboard.js' %}"></script>

    <!-- Отключение tabindex на всей странице -->
    <script src="{% static 'noteapp/js/disable_tabindex.js' %}"></script>

    <!-- для подсчета ширины и медленного появления note-panel -->
    <script src="{% static 'noteapp/js/show_note_panel.js' %}"></script>

    <!-- для скролла наверх и вниз -->
    <script src="{% static 'noteapp/js/scroll_to_top.js' %}"></script>
    <script src="{% static 'noteapp/js/scroll_to_down.js' %}"></script>


{% endblock %}
