{% extends 'base.html' %}
{% load static %}

{% block css %}
    <title>{{ note.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="{% static 'noteapp/css/note.css' %}"/>
    <link rel="stylesheet" href="{% static 'noteapp/css/simplemde.css' %}">

    {% include 'note_text_changer.html' %}

    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

{% endblock %}

{% block content %}

    {% include 'note_panel.html' with mode="edit" %}

    <!-- заметка -->
    <div class="note-block">
        <div class="note-info-container">
            <div class="note-image">
                <img
                        class="circled-icon note-icon"
                        src="

                                {% if note.icon %}{{ note.icon.url }}{% else %}{% static 'noteapp/default/default-note-icon.png' %}{% endif %}"
                        alt="Заметка"
                />
            </div>

            <div class="note-info">
                <div class="note-title">
                    <h2>{{ note.title }}</h2>
                </div>

                {% if note.description %}
                    <div class="note-description">
                        <p>{{ note.description }}</p>
                    </div>
                {% endif %}

                <div class="category" style="background-color: {{ note.category.color }}">
                    <h2>{{ note.category }}</h2>
                </div>

                {% include 'date_and_author.html' %}

            </div>
        </div>
    </div>

    <div class="editor-container" tabindex="-1">
        <form method="post" tabindex="-1">
            {% csrf_token %}
            <div class="note-content">
                <textarea tabindex="-1" id="markdown-editor-{{ note_id }}"
                          name="content">{{ form.content.value }}</textarea>
            </div>

            <!-- невидимая кнопка-->
            <button id="invisible-submit" type="submit">Сохранить изменения</button>
        </form>
    </div>

    <!-- для создания и конфигурации редактора -->
    <script>
        const handleUnderline = (editor) => {
            let cm = editor.codemirror;
            let cursorPosition = cm.getCursor();
            let selectedText = cm.getSelection();

            if (selectedText === "") {
                let underlineText = "<u></u>";
                cm.replaceRange(underlineText, cursorPosition);
                cm.setCursor({line: cursorPosition.line, ch: cursorPosition.ch + 3});
            } else {
                let underlineText = `<u>${selectedText}</u>`;
                cm.replaceSelection(underlineText);
                cm.setCursor({line: cursorPosition.line, ch: cursorPosition.ch + underlineText.length});
            }

            cm.focus();
        };

        const handleStrikeThrough = (editor) => {
            let cm = editor.codemirror;
            let cursorPosition = cm.getCursor();
            let selectedText = cm.getSelection();

            if (selectedText === "") {
                let strikeThroughText = "<del></del>";
                cm.replaceRange(strikeThroughText, cursorPosition);
                cm.setCursor({line: cursorPosition.line, ch: cursorPosition.ch + 5});
            } else {
                let strikeThroughText = `<del>${selectedText}</del>`;
                cm.replaceSelection(strikeThroughText);
                cm.setCursor({
                    line: cursorPosition.line,
                    ch: cursorPosition.ch + strikeThroughText.length
                });
            }

            cm.focus();
        };

        const addDefList = (editor) => {
            let cm = editor.codemirror;
            let cursorPosition = cm.getCursor();
            let selectedText = cm.getSelection();
            let line = cm.getLine(cursorPosition.line);
            let lineLength = line.length;

            if (selectedText === "") {
                let defListText = "Definition\n:    Text";
                cm.replaceRange(defListText, {line: cursorPosition.line, ch: 0});
                cm.setCursor({line: cursorPosition.line + 1, ch: 10});
            } else {
                let defListText = `${selectedText}\n:    `;
                cm.replaceRange("\n\n" + defListText, {
                    line: cursorPosition.line,
                    ch: lineLength
                });
                cm.setCursor({line: cursorPosition.line + 3, ch: defListText.length - 1});
            }

            cm.focus();
        };

        const addAdmonition = (editor) => {
            let cm = editor.codemirror;
            let cursorPosition = cm.getCursor();
            let admoText = '!!! note ""\n    text';
            let line = cm.getLine(cursorPosition.line);

            cm.replaceRange("\n" + admoText, {line: cursorPosition.line, ch: line.length});
            cm.setCursor({line: cursorPosition.line + 2, ch: admoText.length});
            cm.focus();
        };

        const addAbbreviation = (editor) => {
            let cm = editor.codemirror;
            let cursorPosition = cm.getCursor();
            let selectedText = cm.getSelection();
            let line = cm.getLine(cursorPosition.line);
            let lineLength = line.length;

            if (selectedText === "") {
                let abbrText = "*[]:  ";
                cm.replaceRange("\n\n" + abbrText, {line: cursorPosition.line, ch: lineLength});
                cm.setCursor({line: cursorPosition.line + 2, ch: abbrText.length - 1});
            } else {
                let abbrWithSelectedText = `*[${selectedText}]:  `;
                cm.replaceRange("\n\n" + abbrWithSelectedText, {
                    line: cursorPosition.line,
                    ch: lineLength
                });
                cm.setCursor({line: cursorPosition.line + 2, ch: abbrWithSelectedText.length - 1});
            }

            cm.focus();
        };

        const clickSubmitButton = () => {
            document.getElementById("invisible-submit").click();
        };

        const selectCurrentLine = (editor) => {
            let cm = editor.codemirror;
            let cursorPosition = cm.getCursor();
            let line = cm.getLine(cursorPosition.line);

            cm.setSelection({line: cursorPosition.line, ch: 0}, {line: cursorPosition.line, ch: line.length});
        };

        const underlineButton = {
            name: "underline",
            action: handleUnderline,
            className: "fa fa-underline",
            title: "Underline (Ctrl-U)"
        };

        const strikeThroughButton = {
            name: "strikethrough",
            action: handleStrikeThrough,
            className: "fa fa-strikethrough",
            title: "Strikethrough (Ctrl-Shift-I)"
        };

        const abbrButton = {
            name: "abbr",
            action: addAbbreviation,
            className: "fa fa-font",
            title: "Insert abbreviation"
        };

        const admonitionButton = {
            name: "admonition",
            action: addAdmonition,
            className: "fa fa-exclamation",
            title: "Insert admonition"
        };

        const defListButton = {
            name: "def_list",
            action: addDefList,
            className: "fa fa-book",
            title: "Definition List"
        };

        let simplemde = new SimpleMDE({
            element: document.getElementById("markdown-editor-{{ note_id }}"),
            spellChecker: false,
            placeholder: "Начните писать здесь...",
            shortcuts: {
                "toggleUnorderedList": "Ctrl-Alt-L"
            },
            indentWithTabs: true,
            autosave: {
                enabled: true,
                uniqueId: "MyUniqueID-{{ note_id }}",
                delay: 1000,
            },
            initialValue: document.getElementById("markdown-editor-{{ note_id }}").value,
            toolbar: [
                "bold", "italic",
                underlineButton,
                strikeThroughButton,
                "heading",
                "quote", "unordered-list", "ordered-list",
                "link", "image", "horizontal-rule", "code", "table",
                abbrButton,
                admonitionButton,
                defListButton,
            ],
        });

        simplemde.value(document.querySelector('textarea[name="content"]').value);

        simplemde.codemirror.addKeyMap({
            "Ctrl-O": function (cm) {
                handleStrikeThrough(simplemde);
            },
            "Ctrl-U": function (cm) {
                handleUnderline(simplemde);
            },
            "Ctrl-S": function (cm) {
                clickSubmitButton();
            },
            "Ctrl-L": function (cm) {
                selectCurrentLine(simplemde)
            }
        });
    </script>

    <!-- модальное окно для подтверждения удаления -->
    {% include 'modal_delete_note.html' %}

    <!-- для подтверждения удаления -->
    <script src="{% static 'noteapp/js/delete_confirmation.js' %}"></script>

    <!-- для нажатия невидимой кнопки сохранения через иконку save.svg -->
    <script src="{% static 'noteapp/js/click_save_button.js' %}"></script>

    <!-- для копирования в буфер -->
    <script src="{% static 'noteapp/js/copy_to_clipboard.js' %}"></script>

{% endblock %}
