{% extends 'base.html' %}
{% load static %}

{% block css %}
    <title>Ваши категории</title>
    <link rel="stylesheet" href="{% static 'noteapp/css/notes.css' %}"/>
    <link rel="stylesheet" href="{% static 'noteapp/css/trash_notes.css' %}"/>


{% endblock %}

{% block content %}
    <div class="notes-container">
        <h1 class="ordinary-header">Заметки на удаление</h1>

        <div class="trash-notes-container">
            {% for trash_note in trash_notes %}
                <div class="hoverable trash-note-container">
                    <div class="first-line">
                        <div class="icon-container">
                            <img class="trash-note-icon" src="
                        {% if trash_note.icon %}
                            {{ trash_note.icon.url }}
                        {% else %}
                            {% static 'noteapp/default/default-note-icon.png' %}
                        {% endif %}" alt="">
                        </div>
                        <div class="title-and-category-container">
                            <h3 class="trash-note-title">{{ trash_note.title }}</h3>
                            <p class="trash-note-category"
                               style="background-color: {{ trash_note.category.color }}">{{ trash_note.category }}</p>
                        </div>
                    </div>
                    <div class="trash-note-delete-container">
                        <a href="{% url 'delete_permanently_note' trash_note.pk %}">
                            <img src="{% static 'noteapp/svg/delete.svg' %}" alt="">
                        </a>
                        <a href="{% url 'restore_note' trash_note.pk %}">
                            <img src="{% static 'noteapp/svg/restore.svg' %}" alt="">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
