{% extends 'base.html' %}

{% load static %}

{% block css %}
<title>Изменение фото профиля</title>
<link rel="stylesheet" href="{% static 'noteapp/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'noteapp/css/base.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <form action="{% url 'update_avatar' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-fields">
            <h1>Изменение фото профиля</h1>
            <hr class="hr"/>
            <div class="input-group">
                {{ form.avatar.errors }}
                {{ form.avatar }}
            </div>
        </div>
        <button type="submit" class="ordinary-button submit-button-margin">Сохранить изменения</button>
    </form>
</div>
{% endblock %}