{% extends 'base.html' %}
{% load static %}

{% block css %}
    <title>{{ note.title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/{{ settings.code_theme }}.css"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'noteapp/css/note.css' %}"/>
    <link rel="stylesheet" href="{% static 'noteapp/css/view_mode_note.css' %}"/>

    {% include 'view_note_text_changer.html' %}

    <style>

        ul.checklist li::before {
            content: "";
            display: inline-block;
            background: url("{% static 'noteapp/svg/checked.svg' %}") 0 0 no-repeat;
        }
    </style>

{% endblock %}

{% block content %}
    {% include 'note_panel.html' with mode="view" %}

    <!-- заметка -->
    <div class="note-block">
        <div class="note-info-container">
            <div class="note-image">
                <img
                        class="circled-icon note-icon"
                        src="


                                {% if note.icon %}{{ note.icon.url }}{% else %}{% static 'noteapp/default/default-note-icon.png' %}{% endif %}"
                        alt="Заметка"
                />
            </div>

            <div class="note-info">
                <div class="note-title">
                    <h2>{{ note.title }}</h2>
                </div>

                {% if note.description %}
                    <div class="note-description">
                        <p>{{ note.description }}</p>
                    </div>
                {% endif %}

                <div class="category" style="background-color: {{ note.category.color }}">
                    <h2>{{ note.category }}</h2>
                </div>

                {% include 'date_and_author.html' %}

            </div>
        </div>
    </div>

    <div class="editor-container">
        {% load markdown_extras %}

        {% if note.content != ' ' and note.content %}
            <div class="note-content">
                {{ note.content | markdown | safe }}
            </div>
        {% endif %}
    </div>

    <!-- подсветка кода-->
    <script>
        hljs.highlightAll();
    </script>

    <!-- Модальное окно для подтверждения удаления -->
    {% include 'modal_delete_note.html' %}

    <!-- для подтверждения удаления -->
    <script src="{% static 'noteapp/js/delete_confirmation.js' %}"></script>

    <!-- для копирования в буфер -->
    <script src="{% static 'noteapp/js/copy_to_clipboard.js' %}"></script>

    <!-- для подсчета ширины и медленного появления note-panel -->
    <script src="{% static 'noteapp/js/show_note_panel.js' %}"></script>

    <!-- для копирования кода -->
    <script>
        window.copyIconPath = "{% static 'noteapp/svg/copy.svg' %}";
        window.saveIconPath = "{% static 'noteapp/svg/save.svg' %}";
    </script>
    <script src="{% static 'noteapp/js/copy_code_button.js' %}"></script>

    <!-- для скролла наверх и вниз -->
    <script src="{% static 'noteapp/js/scroll_to_top.js' %}"></script>
    <script src="{% static 'noteapp/js/scroll_to_down.js' %}"></script>

    <!-- для подтверждения удаления -->
    <script src="{% static 'noteapp/js/delete_confirmation.js' %}"></script>

    <!-- для установки всем ссылкам атрибута target="_blank" -->
    <script src="{% static 'noteapp/js/setting_target_attr.js' %}"></script>

    <!-- для вставки иконки и надписи замечания -->
    <script src="{% static 'noteapp/js/add_icon_and_admonition.js' %}"></script>



{% endblock %}